Repository jsonresume/resume-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml}": "prettier --write"
}

dont check absolute path in missing theme error message (#463)
  lib/render-html.test.js
Due: eslint --fix, prettier --write

refactor: using commander to parse schema override from cli args (#460)
  lib/get-schema.js
  lib/main.js
  lib/main.test.js
  lib/test-utils/mocked-volume-builder.js
  lib/validate.js
  lib/validate.test.js
Due: eslint --fix, prettier --write

husky@5
  package.json
Due: prettier --write

husky@5 (#464)
  package.json
Due: prettier --write

path cli arg overrides check for stdin being a pipe
  lib/get-resume.js
Due: eslint --fix, prettier --write

mysterious update to package-lock
  package-lock.json
Due: prettier --write

reading from stdin only when resume is specified as a dash
  lib/get-resume.js
  lib/main.test.js
  lib/test-utils/cli-test-entry.js
  lib/utils/stdin-is-pipe.js
Due: eslint --fix, prettier --write

using spawn to start the child process that runs the command. exporting memfs through IPC so it can be verified in tests
  lib/get-resume.test.js
  lib/main.test.js
Due: eslint --fix, prettier --write

updated docs
  README.md
  lib/main.js
  lib/main.test.js
Due: eslint --fix, prettier --write

fix: read from stdin when resume path is a dash (#465)
  README.md
  lib/get-resume.js
  lib/get-resume.test.js
  lib/main.js
  lib/main.test.js
  lib/test-utils/cli-test-entry.js
  lib/utils/stdin-is-pipe.js
  package-lock.json
Due: eslint --fix, prettier --write

node@14 LTS
  .eslintrc.json
  .github/workflows/main.yml
  .nvmrc
  babel.config.cjs
  babel.config.js
  jest.config.cjs
  lib/builder.js
  lib/export-resume.js
  lib/init.js
  lib/main.js
  lib/serve.js
  lib/test-utils/cli-test-entry.js
  lib/test-utils/mocked-volume-builder.js
  package.json
Due: eslint --fix, prettier --write

squash! test: unit tests for the cli (#459)
  lib/render-html.js
Due: eslint --fix, prettier --write

squash! test: unit tests for the cli (#459) (#469)
  lib/render-html.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  85e76be7ee9764b285735afd9925457b35c21d47
Due: none

Notes added by 'git notes add'
  27fb7abbcb77d81a9488592433e9f62830393b14
Due: none

fix(release): publish build folder
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d0d9aa86be678b1f1f4fbfeaf5a2b2d50a636673
Due: none

configured prettier as plugin of eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

ran lint --fix
  babel.config.js
  lib/serve.js
Due: eslint --fix, prettier --write

style(lint): using eslint-plugin-prettier so prettier and eslint will not fight (#461)
  .eslintrc.json
  babel.config.js
  lib/serve.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: moved pr workflow into main so we can run the same set of jobs on push and pr. separate workflow for release
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: prettier --write

docs(README.md): update CLI command for validation
  README.md
Due: prettier --write

docs(README.md): update CLI command for validation (#482)
  README.md
Due: prettier --write

fix: Correctly call renderHtml in createPdf
  lib/export-resume.js
Due: eslint --fix, prettier --write

fix(pdf): fix TypeError when exporting resume to PDF (#486)
  lib/export-resume.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a13e63bb5ec3d2a67a4f27a886268ca602051a9a
Due: none

fixup! squash! test: unit tests for the cli (#459) (#469)
  lib/render-html.js
  lib/render-html.test.js
Due: eslint --fix, prettier --write

Adding support for yaml as documented in the README
  lib/builder.js
  lib/get-resume.js
  lib/main.js
  lib/main.test.js
  lib/serve.js
  package.json
Due: eslint --fix, prettier --write

feat: remove "browsersync: connected" banner
  lib/serve.js
Due: eslint --fix, prettier --write

Fix using local theme from path
  lib/render-html.js
Due: eslint --fix, prettier --write

Duplicate if statement and spelling
  lib/render-html.test.js
Due: eslint --fix, prettier --write

Test local theme is loaded from path
  lib/render-html.test.js
Due: eslint --fix, prettier --write

Fix require('./render-html')
  lib/builder.js
Due: eslint --fix, prettier --write

fix: fix logic for resolving path to themes
  lib/render-html.js
Due: eslint --fix, prettier --write

fix: improve font rendering with puppeteer
  lib/export-resume.js
Due: eslint --fix, prettier --write

fix: remove husky git hooks
  package-lock.json
  package.json
Due: prettier --write

Fix: renderHtml not a function bug
  lib/builder.js
Due: eslint --fix, prettier --write

Add a pre-built dev environment
  README.md
  Vagrantfile
Due: prettier --write

docs(README.md) added example Dockerfile and instructions to run the library inside docker
  Dockerfile.example
  README.md
Due: prettier --write

docs(README.md): add instructions to run the library inside docker arm64
  Dockerfile.example
  README.md
Due: prettier --write
