Repository jsonresume/resume-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Bring back the `-F` and `--force` CLI switches. (#345)
  index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8a30885b1d5fccba7b198293b7dca5c2b791efc3
Due: none

feat: fixed merge conflicts
  test/renderHtml.js
Due: eslint --fix, prettier --write

fix: disable linting on test for render html
  test/renderHtml.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  50688d4784926177003972ffb70d66afd665f318
Due: none

fix: caused regressions in fetching relative themes
  lib/builder/index.js
  lib/render-html/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2ec202b25c7c1fcd825e9fb1a4b9f36cf9157a07
Due: none

fix(theme): use denormalize theme name for server request (#410)
  lib/builder/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d7e25fc2c72d28950503a8df18b8914d68d91da9
Due: none

Notes added by 'git notes add'
  ed323afe42748e25102ed33449eb5ab3b75fa07b
Due: none

fixup! feat(theme-as-promise): allow theme to render with promise
  test/renderHtml.js
Due: eslint --fix, prettier --write

remove lib/pre.js since I can not find where it is used
  lib/pre.js
Due: eslint --fix, prettier --write

removing index from lib so we can better trace module dependencies
  index.js
  lib/index.js
Due: eslint --fix, prettier --write

remove lib/pre.js since I can not find where it is used (#436)
  lib/pre.js
Due: eslint --fix, prettier --write

removing index from lib so we can better trace module dependencies (#437)
  index.js
  lib/index.js
Due: eslint --fix, prettier --write

removing getConfig and checkPkgVersion
  lib/pre-flow/check-pkg-version.js
  lib/pre-flow/get-config.js
  lib/pre-flow/index.js
  lib/version.js
Due: eslint --fix, prettier --write

fixup! feat(theme-as-promise): allow theme to render with promise (#431)
  test/renderHtml.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0d95b03970e5810fdbdff8ec7a0c0248038b0019
Due: none

perf: Fixing previously failed bump to v1 schema.
  README.md
Due: prettier --write

Notes added by 'git notes add'
  18444cdf6ecc61bd2eb69658c48a783ca6bd3577
Due: none

building with babel on 'prepare'
  .eslintrc.json
  README.md
  babel.config.js
  lib/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

building with babel on 'prepare' (#433)
  .eslintrc.json
  README.md
  babel.config.js
  lib/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

removing pre-flow. getting resume only when needed. validating inside getResume by default
  lib/export-resume/index.js
  lib/main.js
  lib/pre-flow/get-resume.js
  lib/pre-flow/index.js
  lib/pre-flow/validate-schema.js
  lib/serve.js
Due: eslint --fix, prettier --write

refactor: removing pre-flow. getting resume only when needed (#440)
  lib/export-resume/index.js
  lib/main.js
  lib/pre-flow/check-pkg-version.js
  lib/pre-flow/get-config.js
  lib/pre-flow/get-resume.js
  lib/pre-flow/index.js
  lib/pre-flow/validate-schema.js
  lib/serve.js
  lib/version.js
Due: eslint --fix, prettier --write

fixup! refactor: removing pre-flow. getting resume only when needed (#440)
  lib/main.js
Due: eslint --fix, prettier --write

fixup! refactor: removing pre-flow. getting resume only when needed (#440) (#447)
  lib/main.js
Due: eslint --fix, prettier --write

installed and configured jest
  .eslintrc.json
  .gitignore
  .huskyrc.json
  jest.config.js
  lib/render-html.test.js
  lib/test.test.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

tests working under jest. removed a lot of potential false positives / false negatives. refactored code to read a little mroe linearly
  lib/builder.js
  lib/export-resume.js
  lib/get-resume.js
  lib/init.js
  lib/main.js
  lib/render-html.js
  lib/render-html.test.js
  lib/render-html/index.js
  lib/test.test.js
  lib/validate.js
  lib/validate.test.js
  package.json
Due: eslint --fix, prettier --write

test(jest): testing with jest (#446)
  .eslintrc.json
  .gitignore
  .huskyrc.json
  jest.config.js
  lib/builder.js
  lib/export-resume.js
  lib/get-resume.js
  lib/init.js
  lib/main.js
  lib/render-html.js
  lib/render-html.test.js
  lib/render-html/index.js
  lib/validate.js
  lib/validate.test.js
  package-lock.json
  package.json
  test/renderHtml.js
  test/validate.test.js
Due: eslint --fix, prettier --write

get resume supports input stream, yaml, and quaff
  README.md
  jest.config.js
  lib/get-resume.js
  lib/get-resume.test.js
  lib/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

get resume supports input stream, yaml, and quaff (#445)
  README.md
  jest.config.js
  lib/get-resume.js
  lib/get-resume.test.js
  lib/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

exiting with code 1 when failing validation
  lib/main.js
  lib/main.test.js
  lib/test-utils/mocked-volume-builder.js
  lib/validate.js
Due: eslint --fix, prettier --write

testing cli
  lib/export-resume.js
  lib/get-resume.js
  lib/get-resume.test.js
  lib/main.js
  lib/main.test.js
  lib/test-utils/cli-test-entry.js
  lib/test-utils/mocked-volume-builder.js
  lib/utils/stdin-is-pipe.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Update theme even to 0.6.0
  package.json
Due: prettier --write

update pakage-lock.json
  package-lock.json
Due: prettier --write

fix(deps): bump jsonresume-theme-even from 0.5.2 to 0.6.0 (#462)
  package-lock.json
  package.json
Due: prettier --write

dont check absolute path in missing theme error message
  lib/render-html.test.js
Due: eslint --fix, prettier --write

test: unit tests for the cli (#459)
  lib/export-resume.js
  lib/get-resume.js
  lib/get-resume.test.js
  lib/main.js
  lib/main.test.js
  lib/test-utils/cli-test-entry.js
  lib/test-utils/mocked-volume-builder.js
  lib/utils/stdin-is-pipe.js
  lib/validate.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: using commander to parse schema override from cli args
  lib/get-schema.js
  lib/main.js
  lib/main.test.js
  lib/test-utils/mocked-volume-builder.js
  lib/validate.js
  lib/validate.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md,yml})
