Repository jsonresume/resume-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(theme): fix serving and exporting local themes (#537)
  lib/builder.js
  lib/render-html.js
  lib/render-html.test.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  16eae2807a30faa6626001bda3e4ab7c515a7d1e
Due: none

customization for sizing/scaling
  lib/export-resume.js
Due: eslint --fix, prettier --write

chore
  .husky/.gitignore
  package-lock.json
Due: prettier --write

hacky fixes
  lib/export-resume.js
Due: eslint --fix, prettier --write

fix(export pdf): font kerning issues from puppeteer
  lib/export-resume.js
Due: eslint --fix, prettier --write

added hacky fix to watch the template and rebuild on change
  lib/serve.js
  package-lock.json
Due: eslint --fix, prettier --write

Adds default theme installation instructions
  README.md
Due: prettier --write

Update builder.js
  lib/builder.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

fix: export pdf get package theme from local
  lib/export-resume.js
Due: eslint --fix, prettier --write

fix: export pdf get package theme from local (#673)
  lib/export-resume.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0bb921e2326b5461c5e635f2b988839d7cbb9cc5
Due: none

fix: support themes exporting ESM modules
  lib/export-resume.js
  lib/render-html.js
Due: eslint --fix, prettier --write

BREAKING CHANGE: drop support for Node.js v10 to use dynamic imports
  package.json
Due: prettier --write

feat: default to use `meta.theme` as theme
  lib/builder.js
  lib/export-resume.js
Due: eslint --fix, prettier --write

Add full theme path when using local themes on export
  lib/export-resume.js
Due: eslint --fix, prettier --write

chore(deps): re-add husky directory
  .husky/.gitignore
  package-lock.json
Due: prettier --write

Revert accidental changes
  .husky/.gitignore
  package-lock.json
Due: prettier --write

Actually, we do need the package lock, and the husky folder is auto-generated on install
  .husky/.gitignore
  package-lock.json
Due: prettier --write

fix: add full theme path when using local themes on export (#689)
  .husky/.gitignore
  lib/export-resume.js
  package-lock.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  21d15f6feb58b689abdb0c740b07319cf5fc2133
Due: none

Fixed web server unable to parse resume.yaml file
  README.md
  lib/builder.js
Due: eslint --fix, prettier --write

Fix browsersync halting when parse error occurs
  lib/builder.js
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Bump version
  package.json
Due: prettier --write

Update puppeteer
  package-lock.json
  package.json
Due: prettier --write

Update superagent
  package-lock.json
  package.json
Due: prettier --write

Update husky
  package-lock.json
  package.json
Due: prettier --write

Delete husky for now
  package-lock.json
  package.json
Due: prettier --write

Revert back to quaff@^4
  package-lock.json
  package.json
Due: prettier --write

Moved quaff to run dependency
  package-lock.json
  package.json
Due: prettier --write

Implement passing paper size as an option in PDF export
  README.md
  lib/export-resume.js
  lib/main.js
Due: eslint --fix, prettier --write

fix(deps): bump puppeteer to `^16.1.0`
  package-lock.json
  package.json
Due: prettier --write

fix(deps): bump puppeteer to `^16.1.0`, fix Apple Silicon installation (#730)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f7f57c16bc5700f2dbb6309d3cbcd2547af2687
Due: none

hack fix to correct scaling
  lib/export-resume.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: run ci on pull requests
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md,yml})
